/* General Styling  */
.body {
    background-image: url("https://images.pexels.com/photos/1964869/pexels-photo-1964869.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-size: cover;
}

.navbar {
    background-color: lightgrey;
    height: 50px;
    width: 100%; 
    top: 0; 
    left: 0;
    position: fixed;
    justify-content: center;
    align-items: center;
    font-family: Roboto, sans-serif;
    color: #333333;
    text-align: center;
    font-size: 30px;
}

.footer {
    background-color: lightgrey;
    height: 40px;
    width: 100%;
    bottom: 0;
    position: fixed;
    justify-content: center;
    align-items: center;
    font-family: Roboto, sans-serif;
    color: #333333;
    text-align: center;
    font-size: 15px;
}

/* To-Do list and list-item styling */
.todolist {
    background-color: rgba(172, 180, 172, 0.842);
    margin: auto;
    margin-top: 5rem;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #efefef;
    box-shadow:
    /* The top layer shadow */
        0 1px 1px rgba(0,0,0,0.15),
            /* The second layer */
        0 10px 0 -5px #eee,
            /* The second layer shadow */
        0 10px 1px -4px rgba(0,0,0,0.15),
            /* The third layer */
            0 20px 0 -10px #eee,
            /* The third layer shadow */
        0 20px 1px -9px rgba(0,0,0,0.15);
    padding: 30px;
}

.todo-item {
    text-align: center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 30px 20px 0;
    width: 70%;
    border-bottom: 1px solid #cecece;
    font-family: Roboto, sans-serif;
    font-weight: 100;
    font-size: 15px;
    color: #333333;
}

.listheader {
    font-family: Roboto, sans-serif;
    color: #333333;
    text-align: center;
}